.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
}

.top_nav .active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.top_nav .active h4 {
  font-size: 1rem;
  font-weight: bold;
}

.top_nav .not_active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.top_nav .not_active h4 {
  font-size: 1rem;

}

/* @media screen and (max-width: 800px)  and (min-width: 100px) {
  .top_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
  }
  .search_bar_header{
    display: none;
  }
} */
